$nav-height: 100px;
$nav-height-reponsive: 60px;

// fonts
$font-title: 'Playfair Display', serif;
$font-body: 'Montserrat', arial, sans-serif;

// colors
$grey: #F7F7F7;
$dark-grey: #6B6B6B;

// Transition
$transition: all .5s ease;