@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Playfair+Display:400,700,900);
h1, .h1 {
    font-family: $font-body;
    font-weight: 300;
    font-size: 70px;
    line-height: 85px;
    font-style: normal;
    @include responsive('md') {
        font-size: 35px;
    }
}

h2, .h2 {
    font-family: $font-title;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    @include responsive('md') {
        font-size: 28px;
        line-height: 1.6;
    }
}

p {
    margin-bottom: 22px;
    margin-top: 8px;
}