{% extends 'base.html.twig' %}

{% block body %}
    <div class="dish">
        <div class="container mt-3 mb-5">
            <div class="breadcrumb">
                <a href="{{ path('home') }}">Accueil</a>
                <span class="separator">/</span>
                <a href="{{ path('restaurant', {'slug': restaurant.slug}) }}">{{ restaurant.name }}</a>
                <span class="separator">/</span>
                <span>{{ dish.dishType }}</span>
                <span class="separator">/</span>
                <span class="current">{{ dish.name }}</span>
            </div>
            <h2>{{ dish.name }}</h2>
        </div>
        <div class="carousel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9">
                        {%  if dish.picture %}
                            <div class="carousel-list glide" data-glide="{{ {'type': 'carousel', 'perView': 1, 'gap': 0 }|json_encode }}" data-glide-controls="{{ {'target': '.glide-controls'}|json_encode }}">
                                <div class="glide__track" data-glide-el="track">
                                    <ul class="glide__slides">
                                        {% if dish.picture %}
                                            <li class="review-item glide__slide">
                                                <img src="{{ asset('images/dishes/' ~ dish.picture) }}" alt="">
                                            </li>
                                        {% endif %}
                                        {% if dish.picture2 %}
                                            <li class="review-item glide__slide">
                                                <img src="{{ asset('images/dishes/' ~ dish.picture2) }}" alt="">
                                            </li>
                                        {% endif %}
                                        {% if dish.picture3 %}
                                            <li class="review-item glide__slide">
                                                <img src="{{ asset('images/dishes/' ~ dish.picture3) }}" alt="">
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <div class="controls glide-controls">
                            {% if dish.picture %}
                                <div class="control-item">
                                    <img src="{{ asset('images/dishes/' ~ dish.picture) }}" alt="">
                                </div>
                            {% endif %}
                            {% if dish.picture2 %}
                                <div class="control-item">
                                    <img src="{{ asset('images/dishes/' ~ dish.picture2) }}" alt="">
                                </div>
                            {% endif %}
                            {% if dish.picture3 %}
                                <div class="control-item">
                                    <img src="{{ asset('images/dishes/' ~ dish.picture3) }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="infos container-fluid mb-5 mt-5">
            <div class="navigation row justify-content-center">
                <div class="button" data-target="description">DESCRIPTION</div>
                <div class="button" data-target="products">INGREDIENTS</div>
                <div class="button" data-target="allergens">ALLERGENES</div>
            </div>
            <div class="items">
                <div class="selected item description row justify-content-center">
                    <div class="text col-md-8 col-12">
                        {{  dish.description | raw }}
                    </div>
                </div>
                <div class="item products container">
                    {% for product in dish.products %}
                        <div class="content">
                            <div class="image-container">
                                <img src="{{ asset('images/products/' ~ product.thumbnail) }}" alt="{{ product.name }}">
                            </div>
                            <div class="name">{{ product.name }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="item allergens container">
                    {% for allergen in dish.allergens %}
                        <div class="content">
                            <div class="image-container">
                                <img src="{{ asset('images/allergens/' ~ allergen.icon) }}" alt="{{ allergen.name }}">
                            </div>
                            <div class="name">{{ allergen.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="growers container mt-5 mb-5">
            <h2 class="mb-5">Producteurs liés</h2>

            <div class="producteurs pb-5">
                {% set growers = [] %}

                {% for product in dish.products %}
                    {% if product.grower.id is defined %}
                        {% if product.grower.id not in growers %}
                            <div class="producteur">
                                <img src="https://picsum.photos/200/300/?random" alt="{{ product.grower.name }}">
                                <div class="text">
                                    <span class="name">{{ product.grower.lastname }} {{ product.grower.firstname }} /</span>
                                    <span class="place">{{ product.grower.name }}</span>
                                 </div>
                            </div>
                            {% set growers = growers|merge([product.grower.id]) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="linked-dish container mt-5 mb-5">
            <h2 class="mb-5">Vous aimerez également</h2>

            <div class="items container">
                {% for linkedDish in linkedDishes %}
                    <a href="{{ path('plat', {restaurant_slug: restaurant, id: linkedDish.dishId}) }}" class="dish-container">
                        <div class="image-container">
                            <img class="image" src="{{ asset('images/dish/' ~ linkedDish.cover_picture) }}" alt=""/>
                        </div>
                        <div class="name">{{ linkedDish.name }}</div>
                        <div class="type">{{ linkedDish.dishType }}</div>
                        <div class="price">{{ linkedDish.price }} €</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        var buttons = document.querySelectorAll('.dish .navigation .button');
        var items   = document.querySelectorAll('.dish .items .item');
        buttons.forEach( b => {
           console.log(b);
           b.addEventListener('click', function() {
               resetSelectedItems();
               var target = document.querySelector('.dish .items .' + b.dataset.target);
               target.classList.add('selected');

           });
        });

        function resetSelectedItems() {
            items.forEach( i => {
                i.classList.remove('selected');
            });
        }
    </script>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/slide.js') }}"></script>
{% endblock %}