{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <section class="header">
            <div class="content">
                <h1 class="title">Votre plaisir, notre satisfaction</h1>
                <a href="#" class="cta -white">Nos Restaurants</a>
            </div>
        </section>
        <section class="restaurants">
            <h2 class="h2 resto-title u-align-center">Nos restaurants</h2>
            <div class="restaurant-list">
                {% for restaurant in restaurants %}
                    <a href="{{ path('restaurant', {'slug': restaurant.slug}) }}" class="restaurant">
                        <div class="image"><img src="{{ asset('/images/restaurants/'~ restaurant.image ) }}" alt="France-papilles restaurants"></div>
                        <div class="content">
                            <span class="title">{{ restaurant.name }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
        <section class="section-quote">
            <div class="container">
                <div class="quote -bg-grey">
                    <div class="avatar"><img src="{{ asset('images/home/chef.jpg') }}" alt="France-papilles restaurants"></div>
                    <div class="quote-content">
                        <cite class="author">Jean Du Jardin</cite>
                        <div class="quote-subtitle">Chef France Papille</div>
                        <blockquote>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-map">
            <div class="widget-map">
                <div class="map"><div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Plot a route map</a></iframe></div><br /></div>
                <div>
                    <div class="map-text">
                        <h2>Localisation</h2>
                        <p>Trouve le restaurant le plus proche de chez toi via notre outil de localisation</p>
                        <a class="cta -black" href="#">Me localiser</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}