{% extends 'base.no-footer.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/components/menuAjax.js') }}"></script>
    <script src="{{ asset('assets/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="carte">
        <div class="navigation">
            <button class="button-dish selected" data-type="menu">Menu</button>
            <button class="button-dish" data-type="entry">Entrée</button>
            <button class="button-dish" data-type="dish">Plat</button>
            <button class="button-dish" data-type="dessert">Dessert</button>
            <button class="button-dish" data-type="drink">Boisson</button>
            <button class="button-dish" data-type="wine">Vin</button>
        </div>
        <div class="content">
            <div class="content-header">
                <div class="breadcrumb">
                    <a href="{{ path('home') }}">Accueil</a>
                    <span class="separator">/</span>
                    <a href="{{ path('restaurant', {'slug': restaurant.slug}) }}">{{ restaurant.name }}</a>
                    <span class="separator">/</span>
                    <span class="current">Carte</span>
                </div>
                <h2>Notre carte</h2>
                <h4>Faites vous plaisir avec un large choix de plats délicieux !</h4>
            </div>
            <div class="content-menu">
                <div id="menu-loader" class="d-none">
                    <div class="loader-container">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
            <div id="dishes" class="row pl-5 pr-5 justify-content-center">
            </div>
        </div>
    </div>

    <input type="hidden" id="restaurantId" value="{{ restaurant.id }}"/>
    <input type="hidden" id="restaurantSlug" value="{{ restaurant.slug }}"/>


{% endblock %}
