{% extends 'base.html.twig' %}

{% block body %}
    <div class="restaurant-entry" id="{{ restaurant.id }}">
        <div class="entry-header">
            <div class="background" style="background-image: url({{ asset('/images/restaurants/' ~ restaurant.cover) }}); background-size: cover"></div>
            <div class="header-content">
                <div class="breadcrumb breadcrumb-white -center">
                    <a href="{{ path('home') }}">Accueil</a>
                    <span class="separator">/</span>
                    <span class="current">{{ restaurant.name }}</span>
                </div>
                <h1 class="title">{{ restaurant.name }}</h1>
                <div class="description">{{ restaurant.description|raw }}</div>
                <a class="cta -white"  href="{{ path('menu', {id: restaurant.id, slug: restaurant.slug }) }}">La carte</a>
            </div>
        </div>
        <div class="entry-body">
            <section class="section-dishes">
                <div class="container">
                    <div class="uptitle">Nos plats</div>
                    <h2>Nos plats</h2>
                </div>
                {% if dishes|length > 0 %}
                    <div class="dishes-list glide" data-glide="{{ { 'perView': 5, gap: 50, breakpoints: { 960: { perView: 3, gap: 25, }, 720: { perView: 2,  gap: 15, } } }|json_encode }}">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for dish in dishes %}
                                    <li class="dish-item glide__slide">
                                        <a href="{{ path('plat', {restaurant_slug: restaurant.slug, id: dish.id }) }}">
                                            <img src="{{ asset('images/dishes/' ~ dish.cover_picture) }}" alt="">
                                            <div class="slide-content">
                                                <span class="item-title">{{ dish.name }}</span>
                                                <p class="price">{{ dish.price }}€</p>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="glide-controls glide__arrows" data-glide-el="controls">
                            <button class="control glide__arrow glide__arrow--left -left" data-glide-dir="<"><ion-icon name="arrow-back"></ion-icon></button>
                            <button class="control glide__arrow glide__arrow--right -right" data-glide-dir=">"><ion-icon name="arrow-forward"></ion-icon></button>
                        </div>
                    </div>
                {% endif %}
            </section>
            <section class="section-map">
                <div class="widget-map">
                    <div class="map">
                        <iframe
                                width="100%"
                                height="600"
                                frameborder="0"
                                scrolling="no"
                                marginheight="0"
                                marginwidth="0"
                                src="https://maps.google.com/maps?q={{ restaurant.lattitude }},{{ restaurant.longitude}}&hl=es;z=14&amp;output=embed"
                        >
                        </iframe>
                    </div>
                    <div>
                        <div class="map-text">
                            <h2>Localisation</h2>
                            <p>Trouve le restaurant le plus proche de chez toi via notre outil de localisation</p>
                            <a class="cta -black" href="#">Me localiser</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-reviews">
                <div class="reviews-header">
                    <div class="container">
                        <div class="uptitle">Critiques</div>
                        <h2>Les avis de nos clients</h2>
                    </div>
                </div>
                <div class="reviews-body">
                    <div class="container-reviews">
                        <div class="reviews-list glide" data-glide="{{ {'type': 'slide', 'perView': 1, 'autoplay': 2000 }|json_encode }}">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    <li class="review-item glide__slide">
                                        <span class="review-author">Jean Honche le musclé</span>
                                        <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </li>
                                    <li class="review-item glide__slide">
                                        <span class="review-author">Jean Honche le musclé</span>
                                        <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </li>

                                    <li class="review-item glide__slide">
                                        <span class="review-author">Jean Honche le musclé</span>
                                        <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% if news is not empty %}
            <section class="section-news">
                <div class="container">
                    <div class="uptitle">Nouveautés</div>
                    <h2>Les nouveautées</h2>
                    <div class="row">
                        {% for new in news %}
                            <div class="col-12 col-sm-4">
                                <div class="blog-item" id="{{ new.id }}">
                                    <a href="">
                                        <img src="https://picsum.photos/1920/1080" alt="">
                                        <div class="item-title">{{ new.title }}</div>
                                        <time>{{ new.creation|date('d-m-Y') }}</time>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="center">
                        <a class="cta -black" href="{{ path('journal_listing', {restaurant_slug: restaurant.slug }) }}">Voir tout les articles</a>
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
        <div class="entry-footer">
            <div class="title">REJOIGNEZ NOUS SUR INSTAGRAM <em>@francepapilles-annecy</em></div>
            <div class="instagram-list">
                <img src="https://picsum.photos/id/1025/4951/3301" alt="">
                <img src="https://picsum.photos/id/1023/3955/2094" alt="">
                <img src="https://picsum.photos/id/1051/4928/3264" alt="">
                <img src="https://picsum.photos/id/1059/7360/4912" alt="">
                <img src="https://picsum.photos/id/1068/7117/4090" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/slide.js') }}"></script>
{% endblock %}