@mixin responsive($breakpoint) {
    @if map-has-key($grid-breakpoints, $breakpoint) {
        @media (max-width: #{map-get($grid-breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}