.footer {
    margin-top: 120px;
    padding: 50px 0;
    background-color: #F7F7F7;

    @include responsive('md') {
        padding: 50px 0 20px;
    }

    .h2 {
        @include responsive('md') {
            margin-bottom: 30px;
            text-align: center;
        }
    }

    .footer-menu {
        display: flex;
        @include responsive('md') {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .menu-item {
        list-style: none;
        &:not(:first-child) {
            .footer-link {
                padding: 0 10px;
            }
        }

    }

    .footer-link {
        display: inline-block;
        text-decoration: none;
        color: black;
        &:not(:first-child) {
            padding: 0 10px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .social {
        text-align: right;
        @include responsive('md') {
            padding: 20px 0;
            text-align: center;
        }
        &-icon {
            padding: 0 10px;
            font-size: 26px;
            color: black;
            &:last-child {
                padding-right: 0;
            }
        }
    }

    .col-12 {
        @include responsive('md') {
            text-align: center;
        }
    }
}