.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $nav-height;
    padding: 0 40px;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all .3s ease;

    &-active {
        background-color: white;

        .brand {
            color: black!important;
        }

        .burger {
            background-color: black!important;

            &:after {
                background-color: black!important;
            }
        }

        .reservation {
            color: white!important;
            background-color: black!important;
        }
    }

    > div {
        flex: 1;
    }

    @include responsive('md') {
        background-color: white;
        height: $nav-height-reponsive;
    }

    .burger-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: left;
        cursor: pointer;
        z-index: 11;
        position: relative;

        &.active {

            .burger {
                transform: rotate(45deg);
                &:after {
                    top: 0;
                    width: 30px;
                    transform: rotate(90deg);
                }
            }
        }
        &:hover {
            .burger:after {
                width: 30px;
            }
        }
        .burger {
            display: block;
            width: 30px;
            height: 1px;
            background-color: white;
            position: relative;
            transition: all .3s ease;

            @include responsive('md') {
                background-color: black;
            }

            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 22px;
                height: 1px;
                background-color: white;
                top: 5px;
                transition: all .5s ease;
                @include responsive('md') {
                    background-color: black;
                }
            }
        }
    }
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transform: translateX(-50px);
        transition: all .3s ease;
        align-items: center;
        display: flex;
        opacity: 0;
        background-color: $grey;
        z-index: 10;
        visibility: hidden;

        .menu-list {
            padding: 10%;
            width: 100%;
            list-style: none;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            .item {
                position: relative;
                align-self: flex-start;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            .link {
                font-family: $font-title;
                font-size: 40px;
                text-decoration: none;
                color: black;
                line-height: normal;
                letter-spacing: 2px;
                @include responsive('md') {
                    font-size: 20px;
                }
            }
        }
        &.active {
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
        }
        .submenu {
            opacity: 0;
            visibility: hidden;
            display: flex;
            position: absolute;
            left: calc(100% + 20px);
            top: 50%;
            transition: all .5s ease;
            .separator {
                display: block;
                width: 600px;
                height: 1px;
                background-color: black;
                transition: all .5s ease;
                @media screen and (max-width: 1250px) {
                    width: 300px!important;
                }
                @include responsive('sm') {
                    width: 30px!important;
                }
            }
            &.active-sub {
                opacity: 1;
                visibility: visible;
                .separator {
                    width: 700px;
                }
            }
        }
        .submenu-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 20px;
            margin-top: -5px;
            .submenu-item {
                align-self: flex-start;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            .submenu-link {
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: normal;
                letter-spacing: 2px;
                text-decoration: none;
                color: black;
            }
        }
    }

    .actions-menu {
        text-align: right;
        @include responsive('md') {
            display: none;
        }
        .reservation {
            color: black;
            background-color: white;
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: normal;
            letter-spacing: 2px;
            padding: 7px 20px;
            border-radius: 30px;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            z-index: 10000;
        }
    }

    .menu-brand {
        text-align: center;
        .brand {
            font-family: $font-title;
            font-size: 40px;
            text-decoration: none;
            color: white;
            position: relative;
            z-index: 10000;
            @include responsive('md') {
                font-size: 20px;
                color: black;
            }
        }
    }


    &.fixed {
        background-color: white;

        .brand {
            color: black;
        }

        .burger {
            background-color: black;

            &:after {
                background-color: black;
            }
        }

        .reservation {
            color: white;
            background-color: black;
        }
    }
}