.breadcrumb {
    display: flex;
    margin-bottom: 20px;

    a {
        color: black;
        text-decoration: none;
    }

    .separator {
        margin: 0 10px;
    }

    &-white {
        color: white;
        a {
            color: white;
        }
    }

    &.-center {
        justify-content: center;
    }

    .current {
        font-weight: bold;
    }
}