.cta {
    text-decoration: none;
    padding: 15px 20px;
    text-transform: uppercase;
    border: 1px solid;
    transition: $transition;
    letter-spacing: 1px;
    display: inline-block;

    &.-white {
        color: white;
        border-color: white;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    &.-black {
        color: black;
        border-color: black;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}