.widget-map {
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive('md') {
        flex-direction: column;
    }

    > div {
        flex: 1;
        @include responsive('md') {
            flex: none;
            width: 100%;
        }
    }

    .map {
        @include responsive('md') {
            iframe {
                height: 300px;
            }
        }
    }

    .map-text {
        padding: 0 10%;
    }
}