.newsletter {
    @include responsive('md') {
        padding: 30px 0 0;
    }
    .title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-group {
        display: flex;

        input {
            display: inline-block;
            height: 50px;
            background-color: transparent;
            border: 3px solid #C4C4C4;
            font-size: 14px;

            &:focus {
                outline: none;
            }
        }

        .newsletter-input {
            width: 250px;
            padding-left: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bold;
            @include responsive('md') {
                width: 70%;
            }
        }

        .newsletter-submit {
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            border-left: none;
            padding: 0 15px;
            @include responsive('md') {
                width: 30%;
            }
        }
    }
}