.quote {
    width: 100%;
    padding: 50px 0;
    display: table;
    @include responsive('md') {
        display: block;
    }
    
    .avatar {
        float: left;
        @include responsive('md') {
            float: none;
        }

        img {
            width: 255px;
            height: 255px;
            max-width: none;
            border-radius: 50%;
            @include responsive('md') {
                display: block;
                margin: 0 auto 30px auto;
            }
        }
    }

    .quote-content {
        display: table-cell;
        vertical-align: middle;
        padding-left: 30px;
        @include responsive('md') {
            padding-left: 0;
        }
    }

    .quote-subtitle {
        font-size: 12px;
        font-weight: 300;
    }

    blockquote {
        margin-top: 20px;
        font-family: $font-title;
        font-style: italic;
    }

    @include clearfix;
}