.blog-item {

    @include responsive('md') {
        margin-bottom: 30px;
    }

    a {
        display: block;
        text-decoration: none;
        color: black;
    }

    .item-title {
        font-size: 20px;
        margin-bottom: 10px;

        @include responsive('md') {
            font-size: 18px;
        }
    }
}


.blog-listing {
    margin-top: 100px;

    .listing-header {
        margin-bottom: 50px;
        .header-ban {
            position: relative;
            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }

            .content {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }

            &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.1);
                z-index: 1;
            }
        }
    }
}