
.carte {
    height: calc(100vh - 100px);
    #menu-loader {
        width: 100%;
        height: 50vh;
        .loader-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;

            $count : 3;

            .bar {
                bottom: 0;
                width: 2px;
                height: 20px;
                background: black;
                margin: 0 3px;
                animation: menu-loader 0.8s infinite;
                @for $i from 1 through $count {
                    &:nth-child(#{$i}) {
                        animation-delay: 0.1 * $i + 0s;
                    }
                }
            }
        }
    }
    position: relative;
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
    margin-top: 100px;

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: calc(100vh - 100px);
        background: $grey;
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            font-family: $font-body;
            cursor: pointer;
            border: none;
            background: none;
            margin: 20px 0;
            font-size: 18px;
            font-weight: 100;
            &.selected {
                font-weight: bold;
            }

            &:disabled {
                color: black;
            }
        }
    }

    .content {
        position: relative;
        top: 0;
        left: 300px;
        width: calc(100% - 300px);

        & > .content-header {
            padding-top: 20px;
            margin-left: 100px;
        }

        & > .content-menu {
            margin-top: 50px;
            overflow-y: scroll;
        }

        .row {
            margin: 0!important;
        }

        h2 {
            position: relative;
            margin-bottom: 30px;
            &:after {
                content: '';
                width: 80px;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: black;
            }
        }

        h4 {
            margin-bottom: 30px;
        }

        #dishes {
            width: 100%;
            overflow-y: auto;
            max-height: 85%;

            .dish-container {

                &:visited {
                    color: black;
                }
                text-decoration: none;
                cursor: pointer;
                outline: none;
                text-align: center;
                padding: 50px 0;
                color: black;

                &:hover {
                    img {
                        transform:scale(1.3);
                    }
                }

                .image-container {
                    overflow: hidden;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin: 0 auto 20px auto;
                    box-shadow: 0px 0px 45px -25px rgba(0,0,0,0.75);

                    img {
                        transition: all 0.3s ease;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-family: $font-title;
                    font-size: 20px;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .type {
                    margin-bottom: 10px;
                }

                .price {
                    font-weight: bold;
                }
            }
        }
    }
}


@keyframes menu-loader {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1, 1.8);
    }
    80% {
        transform: scale(1);
    }
}