

.dish {
    margin-top: 100px;
    .infos {

        padding: 0;
        .navigation {
            .button {
                padding: 10px 60px;
                margin: 0 10px;
                background: blue;
                cursor: pointer;
                background: $dark-grey;
                color: white;
                font-size: 15px;
                font-weight: bold;
            }
        }

        .items {
            padding: 20px 30px;
            background:$grey;


            .item {

                &.selected {
                    transition: all 0.3s 0.1s ease;
                    height: 100%;
                    visibility: visible;
                    opacity: 1;
                }
                visibility: hidden;
                height: 0;
                opacity: 0;
            }

            .description {
                margin-top: 20px;
                text-align: justify;
            }

            .allergens, .products {
                display: flex;
                flex-wrap: wrap;
                .content {

                    padding: 20px 20px;
                    text-align: center;

                    .name {
                        font-size: 12px;
                        max-width: 120px;
                    }
                    .image-container {
                        overflow: hidden;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        margin: 0 auto 20px auto;
                        box-shadow: 0px 0px 45px -25px rgba(0,0,0,0.75);

                        img {
                            transition: all 0.3s ease;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .producteurs {
        display: flex;
        flex-wrap: wrap;

        .producteur {
            overflow: hidden;
            position: relative;
            cursor: pointer;
            height: 200px;
            width: 350px;
            background: blue;
            margin: 10px;

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }

            img {
                transition: all 0.4s ease;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .text {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: calc(100% - 20px);
                color: white;
                .place {
                    font-weight: bold;
                }
            }
        }
    }

    .linked-dish {

        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .dish-container {

            &:visited {
                color: black;
            }
            text-decoration: none;
            cursor: pointer;
            outline: none;
            text-align: center;
            color: black;
            margin: 30px 30px;

            &:hover {
                img {
                    transform:scale(1.3);
                }
            }

            .image-container {
                overflow: hidden;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin: 0 auto 20px auto;
                box-shadow: 0px 0px 45px -25px rgba(0,0,0,0.75);

                img {
                    transition: all 0.3s ease;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .name {
                font-family: $font-title;
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            .type {
                margin-bottom: 10px;
            }

            .price {
                font-weight: bold;
            }
        }
    }
}