.home {
    .header {
        width: 100%;
        height: calc(100vh);
        background: url("/images/home/homeheader.jpg");
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @include responsive('md') {
            height: 300px;
            margin-top: $nav-height-reponsive;
        }

        .content {
            position: relative;
            z-index: 1;
            text-align: center;

            @include responsive('md') {
                
                .cta {
                    display: none;
                }
            }
        }

        .title {
            color: white;
            margin-bottom: 40px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .2);
        }
    }


    .restaurants {
        margin: 50px 0;
    }

    .restaurant-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 70px;

        @include responsive('md') {
            margin-top: 30px;
        }

        .restaurant {
            width: 250px;
            position: relative;
            overflow: hidden;
            margin: 10px;

            @include responsive('md') {
                width: calc(50% - 20px);
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .2);
                opacity: 0;
                transition: all .3s ease;
            }

            &:hover {

                &:after {
                    opacity: 1;
                }

                img {
                    transform: scale(1.3);
                }
            }

            .image {
                img {
                    width: 100%;
                    vertical-align: middle;
                    transition: all .3s ease;
                }
            }

            .content {
                position: absolute;
                bottom: 10px;
                left: 10px;
                opacity: 0;
                transform: translateX(-10px);
                transition: $transition;
                padding: 0 10px;
                z-index: 1;

                @include responsive('md') {
                    transform: translateX(0);
                    opacity: 1;
                }

                .title {
                    color: white;
                }
            }

            &:hover {
                .content {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}


.section-quote {
    margin-bottom: 120px;

    @include responsive('md') {
        margin-bottom: 50px;
    }
    background-color: #F7F7F7;
}