.restaurant-entry {

    h2 {
        margin-bottom: 30px;
    }

    .entry-header {
        height: 600px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive('md') {
            margin-top: $nav-height-reponsive;
            height: 300px;
        }


        
        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &:after {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .2);
            }
        }

        .header-content {
            width: 700px;
            text-align: center;
            position: relative;
            z-index: 2;
            color: white;

            p {
                line-height: 2.0;
                @include responsive('md') {
                    line-height: 1.6;
                    font-size: 12px;
                }
            }
            
            a {
                @include responsive('md') {
                    display: none;
                }
            }
        }
    }

    .entry-body {
        padding: 100px 0;
        @include responsive('md') {
            padding: 50px 0;
        }
        .section-dishes {

            .dishes-list {
                margin: 0 0 100px;
                @include responsive('md') {
                    margin: 50px 0;
                }
            }

            .dish-item {
                display: block;
                list-style: none;
                margin-left: 0;

                .slide-content {
                    height: 50px;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: black;
                }

                img {
                    width: 100%;
                }
            }

            .glide-controls {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                left: 50%;
                margin-top: -40px;
                transform: translate(-50%, -50%);

                @include responsive('md') {
                    display: none;
                }

                .control {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: absolute;
                    border: none;
                    font-size: 25px;
                    margin: 0 40px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:focus {
                        outline: none;
                    }

                    &.-left {
                        left: 0;
                    }

                    &.-right {
                        right: 0;
                    }
                }
            }
        }
    }


    .section-news {
        @include responsive('md') {
            padding: 50px 0;
        }

        .cta {
            margin-top: 30px;
        }
    }

    .section-reviews {
        margin: 100px 0;

        @include responsive('md') {
            margin: 50px 0;
        }


        .reviews-body {
            padding: 100px 0;
            background-color: $grey;
        }

        .container-reviews {
            width: 700px;
            margin: 0 auto;

            @media screen and (max-width: 700px) {
                width: 100%;
                padding: 0 15px
            }
        }

        .review-item {
            margin: 0 auto;
            text-align: center;
        }

        .review-author {
            font-weight: 300;
            font-style: italic;
        }

        .review-content {
            font-weight: 500;
            font-style: italic;
        }
    }
    .entry-footer {
        .title {
            text-align: center;
            margin-bottom: 30px;
            em {
                font-family: $font-title;
            }
        }
        .instagram-list {
            display: flex;
            margin-bottom: -120px;

            > * {
                width: calc(100% / 5);
                flex-wrap: wrap;
                @include responsive('md') {
                    width: calc(100% / 3);
                }

                @include responsive('sm') {
                    width: calc(100% / 2);
                }
            }
        }
    }
}