<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>{% block title %}France Papilles{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/theme.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'layout/header.html.twig' %}
<main class="body">
    {% block body %}{% endblock %}
</main>
<script src="{{ asset('assets/runtime.js') }}"></script>
<script src="{{ asset('assets/menu.js') }}"></script>
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
