{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="blog-listing">
        <div class="listing-header">
            <div class="header-ban">
                <img src="{{ asset('images/others/journal.jpg') }}" alt="">
                <div class="content">
                    <div class="breadcrumb breadcrumb-white -center">
                        <a href="{{ path('home') }}">Accueil</a>
                        <span class="separator">/</span>
                        <a href="{{ path('restaurant', {'slug': restaurant.slug}) }}">{{ restaurant.name }}</a>
                        <span class="separator">/</span>
                        <span class="current">Journal</span>
                    </div>
                    <h2>Le journal</h2>
                </div>
            </div>
        </div>
        <div class="listing-body">
            <div class="container">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-12 col-sm-4">
                            <div class="blog-item" id="{{ post.id }}">
                                <a href="">
                                    <img src="https://picsum.photos/1920/1080" alt="">
                                    <div class="item-title">{{ post.title }}</div>
                                    <time>{{ post.creation|date('d-m-Y') }}</time>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
