<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="h2">France Papilles</div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-4">
                <ul class="footer-menu">
                    <li class="menu-item"><a class="footer-link" href="">Restaurants</a></li>
                    <li class="menu-item"><a class="footer-link" href="">Menus</a></li>
                    <li class="menu-item"><a class="footer-link" href="">Producteurs</a></li>
                    <li class="menu-item"><a class="footer-link" href="">Plats</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <div class="newsletter">
                    <div class="title">Newsletter</div>
                    <div class="form-group">
                        <input type="text" class="newsletter-input" name="newsletter" placeholder="Votre email">
                        <input type="submit" class="newsletter-submit" name="submit-newsletter">
                    </div>
                </div>
            </div>
        </div>
        <hr class="separator-line">
        <div class="row justify-content-between">
            <div class="col-12 col-md-7">
                <a href="#" class="footer-link">Conditions d'utilisation</a>
                <a href="#" class="footer-link">Acceptation des cookies</a>
            </div>
            <div class="col-12 col-md-4">
                <div class="social">
                    <a href="" class="social-icon"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="" class="social-icon"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="" class="social-icon"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>
    </div>
</footer>