{% set nav_active = ['plat', 'menu', 'contact', 'journal_listing'] %}
<nav class="nav {% if app.request.attributes.get('_route') in nav_active %}nav-active{% endif %}">
    <div class="burger-container"><div class="burger-menu"><div class="burger"></div></div></div>
    <div class="menu-brand"><a class="brand" href="/">France Papilles</a></div>
    <div class="actions-menu"><button class="reservation">Réservation</button></div>
    {% include 'layout/menu.html.twig' %}
</nav>
