<div class="nav-menu">
    <ul class="menu-list">
        <li class="item"><a href="{{ path('home') }}" class="link">Accueil</a></li>
        <li class="item">
            <a href="#" class="link">Nos restaurants</a>
            <div class="submenu">
                <span class="separator"></span>
                <ul class="submenu-list">
                    <li class="submenu-item"><a href="/" class="submenu-link">Annecy</a></li>
                    <li class="submenu-item"><a href="/" class="submenu-link">Paris</a></li>
                    <li class="submenu-item"><a href="/" class="submenu-link">Lyon</a></li>
                    <li class="submenu-item"><a href="/" class="submenu-link">Marseille</a></li>
                    <li class="submenu-item"><a href="/" class="submenu-link">Dublin</a></li>
                </ul>
            </div>
        </li>
        <li class="item"><a href="#" class="link">Nos menus</a></li>
        <li class="item"><a href="#" class="link">Nos producteurs</a></li>
        <li class="item"><a href="#" class="link">Contact</a></li>
    </ul>
</div>